div {
    text-align: center;
}

img {
    height: auto;
    width: 400px;
}

.bg {
    background-size: cover;
}

.button--za,
.button--sup,
.button--ult {
    text-decoration: none;
    background-color: goldenrod;
    padding: 1rem 2rem;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgb(0 0 0 / 50%);
    letter-spacing: 0.2px;
    color: black;
    display: inline-block;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button--sup {
    position: static;
    margin: 120px;
}

.button--ult {
    position: static;
    margin: 120px;
}

.button--za {
    position: static;
    margin: 120px;
}